# How to Explore a Dataset

## Step 1: Importing

In [2]:
import pandas as pd
import numpy as np

# Update this path to wherever your CSV lives
DATA_PATH = '/Users/vedikabaradwaj/Downloads/morg19.csv'

df = pd.read_csv(DATA_PATH)

/var/folders/j8/n0941h8j0wj8kz_20gdz081m0000gn/T/ipykernel_17101/2391701528.py:7: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(DATA_PATH)

## Step 2: Understanding the structure

In [3]:
# Shape: (rows, columns)
df.shape

(291390, 98)

In [4]:
# Peek at the data - this shows you the top 5 rows
df.head()
df[["year","stfips","age","sex","race","ethnic","lfsr94","class94","earnhre","earnwke","uhourse","hourslw","weight","earnwt","unionmme","unioncov"]].head()

,year,stfips,age,sex,race,ethnic,lfsr94,class94,earnhre,earnwke,uhourse,hourslw,weight,earnwt,unionmme,unioncov
0,2019,1,22,2,2,NaN,1.0,4.0,1400.0,336.00,24.0,24.0,2673.3924,11367.0026,2.0,2.0
1,2019,1,54,2,2,NaN,1.0,2.0,NaN,836.53,40.0,40.0,1733.4595,6540.8416,2.0,2.0
2,2019,1,17,1,2,NaN,1.0,4.0,765.0,153.00,20.0,20.0,2671.1416,6327.0350,2.0,2.0
3,2019,1,17,1,2,NaN,1.0,4.0,765.0,153.00,20.0,20.0,2671.1416,6327.0350,2.0,2.0
4,2019,1,20,2,2,NaN,1.0,4.0,1000.0,150.00,15.0,15.0,2648.5806,11261.5051,2.0,2.0

In [5]:
# Column names
df.columns.tolist()

['hhid',
 'intmonth',
 'hurespli',
 'hrhtype',
 'minsamp',
 'hrlonglk',
 'hrsample',
 'hrhhid2',
 'serial',
 'hhnum',
 'stfips',
 'cbsafips',
 'county',
 'centcity',
 'smsastat',
 'icntcity',
 'smsa04',
 'relref95',
 'age',
 'spouse',
 'sex',
 'grade92',
 'race',
 'ethnic',
 'lineno',
 'famnum',
 'pfamrel',
 'marital',
 'prpertyp',
 'penatvty',
 'pemntvty',
 'pefntvty',
 'prcitshp',
 'prcitflg',
 'peinusyr',
 'selfproxy',
 'lfsr94',
 'absent94',
 'uhourse',
 'reason94',
 'hourslw',
 'laydur',
 'dwrsn',
 'why3594',
 'prunedur',
 'untype',
 'ftpt94',
 'class94',
 'agri',
 'eligible',
 'otc',
 'ernpdh2',
 'paidhre',
 'earnhre',
 'earnwke',
 'unionmme',
 'unioncov',
 'schenr',
 'studftpt',
 'schlvl',
 'earnwt',
 'weight',
 'chldpres',
 'ownchild',
 'I25d',
 'I25c',
 'I25a',
 'I25b',
 'qstnum',
 'occurnum',
 'ged',
 'gedhigr',
 'yrcoll',
 'grprof',
 'gr6cor',
 'ms123',
 'cmpwgt',
 'ind02',
 'occ2012',
 'occ002',
 'vet1',
 'vet2',
 'vet3',
 'vet4',
 'linedad',
 'linemom',
 'recnum',
 'year',
 'ym_file',
 'ym',
 'ch02',
 'ch35',
 'ch613',
 'ch1417',
 'ch05',
 'ihigrdc',
 'docc00',
 'dind02']

In [6]:
# Data types + missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291390 entries, 0 to 291389
Data columns (total 98 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   hhid       291390 non-null  int64
 1   intmonth   291390 non-null  int64
 2   hurespli   291341 non-null  float64
 3   hrhtype    291390 non-null  int64
 4   minsamp    291390 non-null  int64
 5   hrlonglk   291390 non-null  int64
 6   hrsample   291390 non-null  int64
 7   hrhhid2    291390 non-null  int64
 8   serial     291390 non-null  object
 9   hhnum      291390 non-null  int64
 10  stfips     291390 non-null  int64
 11  cbsafips   291390 non-null  int64
 12  county     291390 non-null  int64
 13  centcity   240668 non-null  float64
 14  smsastat   288555 non-null  float64
 15  icntcity   36819 non-null   float64
 16  smsa04     291390 non-null  int64
 17  relref95   291390 non-null  int64
 18  age        291390 non-null  int64
 19  spouse     148871 non-null  float64
 20  sex        291390 non-null  int64
 21  grade92    291390 non-null  int64
 22  race       291390 non-null  int64
 23  ethnic     38771 non-null   float64
 24  lineno     291390 non-null  int64
 25  famnum     291390 non-null  int64
 26  pfamrel    291390 non-null  int64
 27  marital    291390 non-null  int64
 28  prpertyp   291390 non-null  int64
 29  penatvty   291390 non-null  int64
 30  pemntvty   291390 non-null  int64
 31  pefntvty   291390 non-null  int64
 32  prcitshp   291390 non-null  int64
 33  prcitflg   291390 non-null  int64
 34  peinusyr   291390 non-null  int64
 35  selfproxy  285767 non-null  float64
 36  lfsr94     290217 non-null  float64
 37  absent94   6039 non-null    float64
 38  uhourse    174319 non-null  float64
 39  reason94   10538 non-null   float64
 40  hourslw    167107 non-null  float64
 41  laydur     962 non-null     float64
 42  dwrsn      4446 non-null    float64
 43  why3594    38381 non-null   float64
 44  prunedur   6082 non-null    float64
 45  untype     6082 non-null    float64
 46  ftpt94     290217 non-null  float64
 47  class94    186344 non-null  float64
 48  agri       186344 non-null  float64
 49  eligible   291390 non-null  int64
 50  otc        154727 non-null  float64
 51  ernpdh2    88400 non-null   float64
 52  paidhre    154727 non-null  float64
 53  earnhre    89848 non-null   float64
 54  earnwke    154727 non-null  float64
 55  unionmme   154727 non-null  float64
 56  unioncov   139030 non-null  float64
 57  schenr     173172 non-null  float64
 58  studftpt   25940 non-null   float64
 59  schlvl     25940 non-null   float64
 60  earnwt     291390 non-null  float64
 61  weight     291390 non-null  float64
 62  chldpres   291390 non-null  int64
 63  ownchild   291390 non-null  int64
 64  I25d       154727 non-null  float64
 65  I25c       89883 non-null   float64
 66  I25a       291390 non-null  int64
 67  I25b       291390 non-null  int64
 68  qstnum     291390 non-null  int64
 69  occurnum   291390 non-null  int64
 70  ged        82795 non-null   float64
 71  gedhigr    7670 non-null    float64
 72  yrcoll     78665 non-null   float64
 73  grprof     0 non-null       float64
 74  gr6cor     0 non-null       float64
 75  ms123      0 non-null       float64
 76  cmpwgt     291390 non-null  float64
 77  ind02      186344 non-null  float64
 78  occ2012    186344 non-null  float64
 79  occ002     291390 non-null  int64
 80  vet1       22355 non-null   float64
 81  vet2       4691 non-null    float64
 82  vet3       1044 non-null    float64
 83  vet4       125 non-null     float64
 84  linedad    39587 non-null   float64
 85  linemom    28859 non-null   float64
 86  recnum     291390 non-null  float64
 87  year       291390 non-null  int64
 88  ym_file    291390 non-null  int64
 89  ym         291390 non-null  int64
 90  ch02       291390 non-null  int64
 91  ch35       291390 non-null  int64
 92  ch613      291390 non-null  int64
 93  ch1417     291390 non-null  int64
 94  ch05       291390 non-null  int64
 95  ihigrdc    206578 non-null  float64
 96  docc00     186344 non-null  float64
 97  dind02     186344 non-null  float64
dtypes: float64(53), int64(44), object(1)
memory usage: 217.9+ MB

In [7]:
# Count missing values explicitly
df.isna().sum().sort_values(ascending=False)

gr6cor      291390
grprof      291390
ms123       291390
vet4        291265
laydur      290428
             ...
peinusyr         0
intmonth         0
earnwt           0
weight           0
eligible         0
Length: 98, dtype: int64

In [8]:
#Understand data distribution for numerical variables
df.describe()

,hhid,intmonth,hurespli,hrhtype,minsamp,hrlonglk,hrsample,hrhhid2,hhnum,stfips,...,ym_file,ym,ch02,ch35,ch613,ch1417,ch05,ihigrdc,docc00,dind02
count,2.913900e+05,291390.000000,291341.000000,291390.000000,291390.000000,291390.000000,291390.000000,291390.000000,291390.000000,291390.000000,...,291390.000000,291390.000000,291390.000000,291390.000000,291390.000000,291390.000000,291390.000000,206578.000000,186344.000000,186344.000000
mean,3.542068e+14,6.485034,1.318129,2.755839,6.020715,1.990981,876.346031,8764.511785,1.051474,28.099437,...,713.485034,704.422890,0.058393,0.065754,0.138948,0.083816,0.102886,12.391753,12.059675,47.404666
std,2.930935e+14,3.463702,0.691271,2.301090,1.999896,0.134002,92.371979,923.689468,0.236985,16.228167,...,3.463702,6.903568,0.234485,0.247852,0.345893,0.277111,0.303811,2.438075,6.834765,249.864396
min,5.061104e+08,1.000000,0.000000,1.000000,4.000000,0.000000,701.000000,7011.000000,1.000000,1.000000,...,708.000000,693.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,1.061808e+14,3.000000,1.000000,1.000000,4.000000,2.000000,801.000000,8011.000000,1.000000,13.000000,...,710.000000,698.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,7.000000,22.000000
50%,2.730001e+14,6.000000,1.000000,1.000000,8.000000,2.000000,901.000000,9011.000000,1.000000,28.000000,...,713.000000,704.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,13.000000,36.000000
75%,6.040004e+14,10.000000,1.000000,4.000000,8.000000,2.000000,911.000000,9111.000000,1.000000,42.000000,...,717.000000,710.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,17.000000,42.000000
max,9.999137e+14,12.000000,13.000000,10.000000,8.000000,2.000000,1011.000000,10113.000000,5.000000,56.000000,...,719.000000,716.000000,1.000000,1.000000,1.000000,1.000000,1.000000,18.000000,23.000000,3895.000000

In [33]:
#Understand the codes for each category
df["lfsr94"].value_counts().sort_index()

lfsr94
1.0    167107
2.0      6039
3.0       962
4.0      5120
5.0     60153
6.0     15951
7.0     34885
Name: count, dtype: int64

In [ ]:
#understand data distribution for categorical variables (this code won't work for this dataset)
#df["category_column"].value_counts(dropna=False)

#For multiple variables
#for col in ["sex", "earnwke", "age"]:
    #print(f"\n--- {col} ---")
    #print(df[col].value_counts(dropna=False))

KeyError: 'category_column'

In [13]:
#Selecting columns to view
cols = ["age", "sex", "earnhre", "earnwke"]
df_small = df[cols]

df_small.head()

   age  sex  earnhre  earnwke
0   22    2   1400.0   336.00
1   54    2      NaN   836.53
2   17    1    765.0   153.00
3   17    1    765.0   153.00
4   20    2   1000.0   150.00

## Filtering Data

In [ ]:
# Single condition
df[df["sex"] == 2]

,hhid,intmonth,hurespli,hrhtype,minsamp,hrlonglk,hrsample,hrhhid2,serial,hhnum,...,ym_file,ym,ch02,ch35,ch613,ch1417,ch05,ihigrdc,docc00,dind02
0,110327856469,1,1.0,7,4,2,911,9111,1,1,...,708,705,0,0,0,0,0,13.0,13.0,22.0
1,110339935453,1,1.0,4,8,2,701,7011,1,1,...,708,693,0,0,0,1,0,13.0,17.0,41.0
4,110339935453,1,1.0,4,8,2,701,7011,1,1,...,708,693,0,0,0,0,0,13.0,16.0,22.0
5,110359424339,1,1.0,4,8,2,711,7111,1,1,...,708,693,0,0,0,0,0,NaN,10.0,51.0
6,110359424339,1,1.0,4,8,2,711,7111,1,1,...,708,693,0,0,0,0,0,14.0,13.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291379,684460974791105,12,2.0,1,4,2,1011,10111,1,1,...,719,716,0,0,0,0,0,NaN,10.0,41.0
291381,686370402621005,12,1.0,1,8,2,911,9111,1,1,...,719,704,0,0,0,1,0,12.0,7.0,36.0
291384,710106595598086,12,1.0,4,8,2,901,9011,1,1,...,719,704,0,1,1,0,1,12.0,17.0,32.0
291385,802505349610555,12,1.0,1,4,2,1001,10011,1,1,...,719,716,0,0,0,0,0,12.0,21.0,47.0
291389,905527030610215,12,2.0,6,4,2,1001,10011,1,1,...,719,716,0,0,0,0,0,13.0,10.0,42.0

In [24]:
#Multiple conditions
df[(df["sex"] == 2) & (df["age"] >= 50)]

,hhid,intmonth,hurespli,hrhtype,minsamp,hrlonglk,hrsample,hrhhid2,serial,hhnum,...,ym_file,ym,ch02,ch35,ch613,ch1417,ch05,ihigrdc,docc00,dind02
1,110339935453,1,1.0,4,8,2,701,7011,1,1,...,708,693,0,0,0,1,0,13.0,17.0,41.0
5,110359424339,1,1.0,4,8,2,711,7111,1,1,...,708,693,0,0,0,0,0,NaN,10.0,51.0
8,110500762096,1,1.0,1,4,2,901,9011,1,1,...,708,705,0,0,0,0,0,11.0,NaN,NaN
10,5660614093159,1,3.0,4,4,2,901,9011,1,1,...,708,705,0,0,0,0,0,12.0,NaN,NaN
24,110000310181141,1,1.0,7,8,2,711,7111,1,1,...,708,693,0,0,0,0,0,12.0,22.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291369,591363012750754,12,2.0,1,8,2,911,9111,1,1,...,719,704,0,0,0,0,0,NaN,8.0,40.0
291370,601519110610472,12,1.0,1,8,2,901,9011,1,1,...,719,704,0,0,0,0,0,16.0,13.0,40.0
291373,615680127831105,12,1.0,6,8,2,911,9111,1,1,...,719,704,0,0,0,0,0,12.0,NaN,NaN
291379,684460974791105,12,2.0,1,4,2,1011,10111,1,1,...,719,716,0,0,0,0,0,NaN,10.0,41.0
291385,802505349610555,12,1.0,1,4,2,1001,10011,1,1,...,719,716,0,0,0,0,0,12.0,21.0,47.0

In [25]:
#Excluding missing values
df[df["age"].notna()]

,hhid,intmonth,hurespli,hrhtype,minsamp,hrlonglk,hrsample,hrhhid2,serial,hhnum,...,ym_file,ym,ch02,ch35,ch613,ch1417,ch05,ihigrdc,docc00,dind02
0,110327856469,1,1.0,7,4,2,911,9111,1,1,...,708,705,0,0,0,0,0,13.0,13.0,22.0
1,110339935453,1,1.0,4,8,2,701,7011,1,1,...,708,693,0,0,0,1,0,13.0,17.0,41.0
2,110339935453,1,1.0,4,8,2,701,7011,1,1,...,708,693,0,0,0,0,0,10.0,13.0,46.0
3,110339935453,1,1.0,4,8,2,701,7011,1,1,...,708,693,0,0,0,0,0,10.0,13.0,46.0
4,110339935453,1,1.0,4,8,2,701,7011,1,1,...,708,693,0,0,0,0,0,13.0,16.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291385,802505349610555,12,1.0,1,4,2,1001,10011,1,1,...,719,716,0,0,0,0,0,12.0,21.0,47.0
291386,802505349610555,12,1.0,1,4,2,1001,10011,1,1,...,719,716,0,0,0,0,0,NaN,20.0,21.0
291387,876944601471509,12,1.0,6,4,2,1011,10111,1,1,...,719,716,0,0,0,0,0,14.0,22.0,23.0
291388,905527030610215,12,2.0,6,4,2,1001,10011,1,1,...,719,716,0,0,0,0,0,13.0,19.0,4.0
291389,905527030610215,12,2.0,6,4,2,1001,10011,1,1,...,719,716,0,0,0,0,0,13.0,10.0,42.0

In [26]:
#Filtering by numerical ranges
df[df["age"].between(55, 64)]

,hhid,intmonth,hurespli,hrhtype,minsamp,hrlonglk,hrsample,hrhhid2,serial,hhnum,...,ym_file,ym,ch02,ch35,ch613,ch1417,ch05,ihigrdc,docc00,dind02
5,110359424339,1,1.0,4,8,2,711,7111,1,1,...,708,693,0,0,0,0,0,NaN,10.0,51.0
10,5660614093159,1,3.0,4,4,2,901,9011,1,1,...,708,705,0,0,0,0,0,12.0,NaN,NaN
12,5660614093159,1,3.0,4,4,2,901,9011,1,1,...,708,705,0,0,0,0,0,10.0,NaN,NaN
13,5660614093159,1,3.0,4,4,2,901,9011,1,1,...,708,705,0,0,0,0,0,12.0,NaN,NaN
19,82051707007851,1,1.0,6,8,2,701,7011,1,1,...,708,693,0,0,0,0,0,12.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291377,634230755971105,12,1.0,1,8,2,911,9111,1,1,...,719,704,0,0,1,0,0,NaN,2.0,32.0
291378,684460974791105,12,2.0,1,4,2,1011,10111,1,1,...,719,716,0,0,0,0,0,12.0,17.0,23.0
291379,684460974791105,12,2.0,1,4,2,1011,10111,1,1,...,719,716,0,0,0,0,0,NaN,10.0,41.0
291385,802505349610555,12,1.0,1,4,2,1001,10011,1,1,...,719,716,0,0,0,0,0,12.0,21.0,47.0
291387,876944601471509,12,1.0,6,4,2,1011,10111,1,1,...,719,716,0,0,0,0,0,14.0,22.0,23.0

In [ ]:
#Filtering by .isin command
df[df["ethnic"].isin([1, 2, 3])]

,hhid,intmonth,hurespli,hrhtype,minsamp,hrlonglk,hrsample,hrhhid2,serial,hhnum,...,ym_file,ym,ch02,ch35,ch613,ch1417,ch05,ihigrdc,docc00,dind02
63,861704001620000,1,1.0,1,4,2,911,9111,1,1,...,708,705,0,1,1,1,1,12.0,19.0,4.0
64,861704001620000,1,1.0,1,4,2,911,9111,1,1,...,708,705,0,0,0,0,0,11.0,NaN,NaN
67,910008560634271,1,2.0,3,4,2,911,9111,1,1,...,708,705,1,0,1,0,1,12.0,19.0,4.0
68,910008560634271,1,2.0,3,4,2,911,9111,1,1,...,708,705,1,0,1,0,1,12.0,NaN,NaN
93,9011026004271,1,1.0,1,8,2,701,7012,2,2,...,708,693,0,0,1,0,0,12.0,19.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291248,678980725581005,12,1.0,1,8,2,911,9111,1,1,...,719,704,0,0,0,0,0,14.0,NaN,NaN
291249,678980725581005,12,1.0,1,8,2,911,9111,1,1,...,719,704,0,0,0,0,0,5.5,NaN,NaN
291262,716467901300501,12,1.0,3,4,2,1001,10011,1,1,...,719,716,0,0,0,0,0,12.0,19.0,3.0
291332,167495060149794,12,1.0,1,4,2,1001,10011,1,1,...,719,716,0,0,1,0,0,12.0,11.0,42.0
291373,615680127831105,12,1.0,6,8,2,911,9111,1,1,...,719,704,0,0,0,0,0,12.0,NaN,NaN

In [29]:
#Creating derived variables
df["age_55_plus"] = df["age"] >= 55